header {
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: 100px;
}
.bg-color-blue {
  background-color: #4700A2;
}
.container-img {
  position: relative;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(0,0,0,0.4);
  pointer-events:none
}
.container-img:hover .overlay {
  opacity: 1;
}
.overlay-text {
  color: white;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
}
.banner {
    background-image: url(images/testie.png);
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 250px 0 200px;
}
.banneraaninnovatie {
    background-color: #191B3B;
    max-height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 250px 0 200px;
}
.aaninnovatieimage {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: -200px;
}
.bgcolor.scrolled {
    background-color: rgba(0, 0, 62, 0.9);
}
.navbar {
    padding: 20px 0;
}
li {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 20px 15px;
    color: white;
}
.banner p {
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    font-size: 25px;
    margin: 0;
    padding: 0;
}
.banner h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    margin: 0;
    padding: 0;
}
.btn-circle.btn-md {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 200px;
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    background-color: #4700A2;
    color: white;
}
.imageheader{
    width: 100%;
}
.mywork {
}
